<h1>Books</h1>
<% @books.each do |book|%>

<tavle>
 <thead>
    <p>本のタイトル</p>
    <span><%= book.title %></span>
    <p>感想</p>
    <span><%= book.body %></span>
    <%= link_to "Show",book_path(book.id) %>
    <%= link_to "Edit",edit_book_path(book.id) %>
 </thead>
</tavle>
<% end %>
